<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    <h3>File Manager</h3>
                </a>
            </p>
        </div>
    </nav>
</header>